body{
    background-color: black;
    overflow: hidden;
}
.space{
    background-image: url("space.png");
    background-position: center;
    width: 70%;
    height: 920px;
    margin: auto;
}
.planet-area{
    width: 45%;
    height: 85%;
    position: relative;
    top: 15%;
}
.planet{
    position: relative;
    width: 110%;
    bottom: -18%;
    z-index: 3;
}
.rocket{
    position: fixed;
    width: 10%;
    left: 35%;
    top: 45%;
    transform: rotate(23deg);
    z-index: 2;
}
.control-panel{
    width: 550px;
    height: 400px;
    position: absolute;
    top: 10%;
    right: 18%;
    background: linear-gradient(yellow, blue);
}
.control-panel__inner {
    background-color: #3b3b3b;
    top: 6.5%;
    right: 4.5%;
    position: absolute;
    text-align: center;
    width: 500px;
    height: 350px;
}

.control-panel__inner div {
    margin: 0 auto;
}

#password {
    margin: 20px 0;
    padding: 3px;
    width: 65%;
    border: 2px solid yellow;
    background: #3b3b3b;
    border-radius: 10px;
}

#unlock,
#launch {
    margin: 10px 0;
    padding: 3px 5px;
}

.check-buttons,
.levers {
    display: flex;
    justify-content: space-between;
}

.check-buttons {
    padding: 15px 98px;
}

.levers {
    padding: 30px 100px;
}

.levers input {
    -webkit-appearance: slider-vertical; /* WebKit */
    height: 80px;
    padding: 0 5px;
    width: 8px;
    writing-mode: bt-lr; /* IE */
}
#launch{
    width: 25%;
    height: 20%;
    border: 1px white;
    border-radius: 50%;
    background-color: red;
    font-size: 20px;
    color: black;
}
#unlock{
    border-radius: 30%;
    background-color: yellow;
}